{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'me/driver_dashboard.css' %}">
    <title>Driver Dashboard</title>
</head>
<body>
    <main>
        <section class="container">
                <div class="menu">
                    <div class="header">
                          <img class="logo" src="{% static 'me/images/Church Round Logo.png' %}" alt="logo">
                        <p>Dashboard</p>
                    </div>
                    <div class="profile">
                        <picture>                           
                            <img id="d_profile" src="{% static 'me/images/driver_profile.png' %}"  alt="">
                        </picture>

                        <p>
                            <span id="title">Mr</span>
                            <span id="name">{{user.first_name}} {{user.last_name}}</span>
                        </p>
                    </div>
                    
                    <div class="options">
                           
                            <a href="{% url 'citizen-edit'%}"><span ><img src="{% static 'me/images/manage.png' %}" alt="">Manage Profile</span></a>
                            
                            <a href="{% url 'citizen-logout'%}"><span ><img  src="{% static 'me/images/logout.jpeg' %}" alt="image">Logout</span></a>
                            <a href="{% url 'password_change'%}"><span ><img  src="{% static 'me/images/Settings.png' %}" alt=""> Change Password</span></a>

                    </div>
                
                </div>

                <div class="record">
                    <nav>
                        <div class="greetings">
                            <img src="./images/Waving Hand Emoji.png" alt="">
                            <p id="name">Hello, {{ user.first_name }}</p>
                        </div>
                        <div class="time">Time:
                            <span id="time">{{time|time}}</span>
                        </div>
                    </nav>

                    <div class="button_box">
                        <button class="complaint">Log Complaint</button>
                        <button class="offense">View Offenses & Penalty</button>
                    </div>

                    <div class="record_list">
                        <p>Record</p>
                        <div class="list"><i>No Records yet</i> </div>
                    </div>
                                 

                </div>


            
        </section>
    </main>
</body>
</html>