<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/driver_dashboard.css">
    <title>Driver Dashboard</title>
</head>
<body>
    <main>
        <section class="container">
                <div class="menu">
                    <div class="header">
                        <img class="logo" src="./images/Church Round Logo.png" alt="logo">
                        <p>Dashboard</p>
                    </div>
                    <div class="profile">
                        <picture>
                            <img id="d_profile" src="./images/driver_profile.png" alt="">
                        </picture>

                        <p>
                            <span id="title">Driver</span>
                            <span id="name">Samuel Opoku</span>
                        </p>
                    </div>
                    
                    <div class="options">
                            <a href="#"><span ><img src="./images/manage.png" alt="">Manage Profile</span></a>
                            <a href="#"><span ><img src="./images/Location.png" alt="">Manage Location</span></a>
                            <a href="#"><span ><img src="./images/Settings.png" alt="">Settings</span></a>

                    </div>
                
                </div>

                <div class="record">
                    <nav>
                        <div class="greetings">
                            <img src="./images/Waving Hand Emoji.png" alt="">
                            <p id="name">Hello, Driver</p>
                        </div>
                        <div class="time">Time:
                            <span id="time">9:12:02</span>
                        </div>
                    </nav>

                    <div class="button_box">
                        <button class="complaint">Log Complaint</button>
                        <button class="offense">View Offenses & Penalty</button>
                    </div>

                    <div class="record_list">
                        <p>Record</p>
                        <div class="list"><i>No Records yet</i> </div>
                    </div>
                                 

                </div>


            
        </section>
    </main>
</body>
</html>