{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit {{ user.service_id }}</title>
</head>
<body>
    <h1>Edit Police Setting</h1>
    {{ msg }}
    
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
        <a href="javascript:history.back()" class="btn btn-danger">Cancel</a>
        
    </form>
</body>
</html>
