
{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'me/style-index-police.css' %}">
    <title>Home</title>
</head>
<body>
    <div class="user-profile-container">
        <img src="{{ user.image.url }}" alt="{{ user.first_name }}" class="user-image">
        <h2 class="user-name">{{ user.first_name }}</h2>
    </div>

    
</body>
</html> 
