
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} <link rel="stylesheet" href="{% static 'me/style-index-police.css' %}"> {% endcomment %}
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <title>Home</title>
</head>
<body>
    <div class="user-profile-container">
         <img height="200" width="200" src="{{ user.image.url }}" alt="{{ user.first_name }}" class="user-image"> 
        <h2 class="user-name">{{user.rank}}</h2>
        <h2 class="user-name">{{ user.first_name }}</h2>
        <h2 class ="user-name">{{user.last_name}}</h2>

        <a href="{% url 'edit-police'%}"><button class="edit-button">Edit</button></a> 
        <a href="{% url 'police-logout'%}"><button>Logout</button></a>
    
        {% for message in messages %}
        <h5 class='message'>{{ message }}</h5>
    {% endfor %}

    <div class="search-container">
        <form action="" method="POST">
            {% csrf_token %}
            <input type="text" name="q" placeholder="Search...">
            <button type="submit">Search</button>
        </form>
    </div>
    </div>
 
<a href="{% url 'offense'%}"><button>Log Complains</button></a>

    </script>
</body>
</html>




