

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>password reset</title>
</head>
<body>
    <h1>Password Reset Confirm</h1>
    <p>Please Enter your new password</p>

    <form action="" method="POST">
        {% csrf_token %}
        {{form.as_p}}

        <button type="submit"> Reset password</button>


    </form>
    <a href="javascript:history.back()" class="btn btn-danger">Cancel</a>

</body>
</html>