
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Complains</title>
</head>
<body>

    <div>
        <ul>
            {% for complains in police_complains %}

            <li>  {{complains.citizens}}</li>
            <li>{{complains.region}}</li>
            <li>{{complains.land_mark}}</li>
            <hr>
            {% endfor %}
        </ul>

    </div>

      
  

    
</body>
</html>